@charset "UTF-8";

@import "media_queries";// メディアクエリー
@import "variable";// 変数ファイル
@import "sprite";// スプライト定義
@import "mixin";// ミックスイン
@import "ptp-14";// フォントサイズ指定
@import "webFont";

.sidebar {
    margin-left: auto;
    width: $subContainerWidth;
}

.sidebar__section--category,
.sidebar__section--recent,
.sidebar__section--archive {
    margin-bottom: 40px;
}

.sidebar__section-title {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 40px;
    color: #fff;
    font-size: $px18;
    background: $mainColor;
    box-sizing: border-box;
}

.sidebar__search {
    margin-bottom: 20px;
    .search-form {
        display: flex;
        width: 100%;
        height: 40px;
        input[type="search"] {
            padding: 0 20px;
            width: (310px/(360px/100)) * 1%;
            border: 1px solid $mainColor;
            border-radius: 40px;
            box-sizing: border-box;
            &:focus {
                outline: 0;
                background: $subColor;
                border: 2px solid $mainColor;
            }
            &:hover {
                border: 2px solid $mainColor;
            }
        }
        button {
            cursor: pointer;
            margin-left: auto;
            width: (40px/(360px/100)) * 1%;
            height: 40px;
            position: relative;
            top: 0;
            left: 0;
            background-color: $mainColor;
            border: none;
            border-radius: 50%;
            &:before {
                content: "\e901";
                display: inline-block;
                font-family: 'icomoon' !important;
                color: #fff;
                font-size: 20px;
                text-align: center;
            }
            &:focus {
                border: none;
                outline: 0;
            }
        }
    }
}

.sidebar__section--category {
    .sidebar__section-title {
        position: relative;
        top: 0;
        left: 0;
        &:before {
            content: "\e9ba";
            display: inline-block;
            margin-right: 8px;
            font-family: 'icomoon' !important;
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
    }
    ul {
        li {
            a {
                display: block;
                padding: 0 10px;
                height: 40px;
                line-height: 40px;
                color: $baseColor;
                box-sizing: border-box;
                position: relative;
                top: 0;
                left: 0;
                transition: all 0.2s ease-in;
                &:hover {
                    text-decoration: none;
                    background: $subColor;
                    transition: all 0.1s ease-in;
                }
            }
        }
    }
}

.sidebar__section--recent {
    .sidebar__section-title {
        position: relative;
        top: 0;
        left: 0;
        &:before {
            content: "\e903";
            display: inline-block;
            margin-right: 8px;
            font-family: 'icomoon' !important;
            color: #fff;
            font-size: 22px;
            text-align: center;
        }
    }
    .recent-post-list__item {
        margin-bottom: 20px;
        height: 77px;

        a {
            &:hover {
                text-decoration: none;
            }
        }
        .recent-post-list__inner {
            display: flex;
        }
        .recent-post-list__thumbnail {
            width: (125px/($subContainerWidthSize/100)) * 1%;
        }
        .recent-post-list__body {
            margin-left: auto;
            width: (225px/($subContainerWidthSize/100)) * 1%;
            .recent-post-list__title {
                color: #000;
                height: (57px/(77px/100)) * 1%;
                line-height: 1.4;
                font-size: $px12;
                @include text-truncate(12, 1.5, 3, #fff);
            }
        }
        .recent-post-list__meta {
            display: flex;
            height: (20px/(77px/100)) * 1%;
            .recent-post-list__date {
                display: inline-block;
                padding: 0 10px;
                height: 20px;
                line-height: 20px;
                font-size: $px12;
                color: #fff;
                background: $baseColor;
                margin-right: 10px;
            }
        }
    }
}

.sidebar__section--archive {
    .sidebar__section-title {
        position: relative;
        top: 0;
        left: 0;
        &:before {
            content: "\e92b";
            display: inline-block;
            margin-right: 8px;
            font-family: 'icomoon' !important;
            color: #fff;
            font-size: 22px;
            text-align: center;
        }
    }
    .sidebar__archive-list {
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: $baseColor;
        background: $subColor;
        border: none;
        border-radius: 0;
    }
}




// レスポンシブ
@media #{$middle} {
    .sidebar {
        margin-left: auto;
        width: 100%;
    }

    .sidebar__section--category,
    .sidebar__section--recent,
    .sidebar__section--archive {
        margin-bottom: 40px;
    }

    .sidebar__section-title {
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-bottom: 10px;
        height: 40px;
        color: #fff;
        font-size: $px18;
        background: $mainColor;
        box-sizing: border-box;
    }

    .sidebar__search {
        width: 100%;
        padding: 20px 10px;
        margin-bottom: 0;
        box-sizing: border-box;
        border-top: 1px solid $mainColor;
        .search-form {
            display: flex;
            width: 100%;
            height: 40px;
            input[type="search"] {
                padding: 0 20px;
                width: (300px/(355px/100)) * 1%;
                border: 1px solid $mainColor;
                border-radius: 40px;
                box-sizing: border-box;
                &:focus {
                    outline: 0;
                    background: $subColor;
                    border: 2px solid $mainColor;
                }
                &:hover {
                    border: 2px solid $mainColor;
                }
            }
            button {
                cursor: pointer;
                margin-left: auto;
                width: (40px/(355px/100)) * 1%;
                height: 40px;
                position: relative;
                top: 0;
                left: 0;
                background-color: $mainColor;
                border: none;
                border-radius: 50%;
                &:before {
                    content: "\e901";
                    display: inline-block;
                    font-family: 'icomoon' !important;
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                }
                &:focus {
                    border: none;
                    outline: 0;
                }
            }
        }
    }

    .sidebar__section--category {
        .sidebar__section-title {
            position: relative;
            top: 0;
            left: 0;
            &:before {
                content: "\e9ba";
                display: inline-block;
                margin-right: 8px;
                font-family: 'icomoon' !important;
                color: #fff;
                font-size: 20px;
                text-align: center;
            }
        }
        ul {
            li {
                a {
                    display: block;
                    padding: 0 10px;
                    height: 40px;
                    line-height: 40px;
                    color: $baseColor;
                    box-sizing: border-box;
                    position: relative;
                    top: 0;
                    left: 0;
                    transition: all 0.2s ease-in;
                    border-bottom: 1px solid $mainColor;
                    &:hover {
                        text-decoration: none;
                        background: $subColor;
                        transition: all 0.1s ease-in;
                    }
                }
                &:first-child {
                    border-top: 1px solid $mainColor;
                }
            }
        }
    }

    .sidebar__section--recent {
        .sidebar__section-title {
            position: relative;
            top: 0;
            left: 0;
            &:before {
                content: "\e903";
                display: inline-block;
                margin-right: 8px;
                font-family: 'icomoon' !important;
                color: #fff;
                font-size: 22px;
                text-align: center;
            }
        }
        .recent-post-list__item {
            margin-bottom: 10px;
            height: 77px;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
            .recent-post-list__inner {
                display: flex;
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
            }
            .recent-post-list__thumbnail {
                width: (125px/($subContainerWidthSize/100)) * 1%;
            }
            .recent-post-list__body {
                margin-left: auto;
                width: (225px/($subContainerWidthSize/100)) * 1%;
                .recent-post-list__title {
                    color: #000;
                    height: (57px/(77px/100)) * 1%;
                    line-height: 1.4;
                    font-size: $px12;
                    @include text-truncate(12, 1.5, 3, #fff);
                }
            }
            .recent-post-list__meta {
                display: flex;
                height: (20px/(77px/100)) * 1%;
                .recent-post-list__date {
                    display: inline-block;
                    padding: 0 10px;
                    height: 20px;
                    line-height: 20px;
                    font-size: $px12;
                    color: #fff;
                    background: $baseColor;
                    margin-right: 10px;
                }
            }
        }
    }

    .sidebar__section--archive {
        .sidebar__section-title {
            position: relative;
            top: 0;
            left: 0;
            &:before {
                content: "\e92b";
                display: inline-block;
                margin-right: 8px;
                font-family: 'icomoon' !important;
                color: #fff;
                font-size: 22px;
                text-align: center;
            }
        }
        .sidebar__archive-list {
            padding: 0 10px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            color: $baseColor;
            background: $subColor;
            border: none;
            border-radius: 0;
            box-sizing: border-box;
        }
    }
}
